Repository FOREGG-DEV/FOREGG_ANDROID_COMPOSE, pull requests merged in 2024-10, with the labels that each got.

#43 [ Feat ] 회원가입 약관 동의 페이지, 접근 권한 페이지 추가
  app/build.gradle.kts
  app/src/main/AndroidManifest.xml
  app/src/main/java/com/hugg/presentation/HuggApplication.kt
  app/src/main/java/com/hugg/presentation/module/ApiModule.kt
  app/src/main/java/com/hugg/presentation/module/AuthNetworkModule.kt
  app/src/main/java/com/hugg/presentation/module/AuthenticationInterceptor.kt
  app/src/main/java/com/hugg/presentation/module/Extention.kt
  app/src/main/java/com/hugg/presentation/module/NetworkModule.kt
  app/src/main/java/com/hugg/presentation/module/Qualifier.kt
  app/src/main/java/com/hugg/presentation/module/RepositoryModule.kt
  app/src/main/java/com/hugg/presentation/module/TokenAuthenticator.kt
  feature/account/src/main/java/com/hugg/account/accountMain/AccountScreen.kt
  feature/calendar/src/main/java/com/hugg/calendar/calendarMain/CalendarScreen.kt
  feature/main/src/main/java/com/hugg/main/NavExpansions.kt
  feature/main/src/main/java/com/hugg/main/Routes.kt
  feature/sign/src/main/java/com/hugg/sign/accessPermission/AccessPermissionScreen.kt
  feature/sign/src/main/java/com/hugg/sign/inputSsn/InputSsnScreen.kt
  feature/sign/src/main/java/com/hugg/sign/onboarding/OnboardingScreen.kt
  feature/sign/src/main/java/com/hugg/sign/serviceTerms/ServiceTermsPageState.kt
  feature/sign/src/main/java/com/hugg/sign/serviceTerms/ServiceTermsScreen.kt
  feature/sign/src/main/java/com/hugg/sign/serviceTerms/ServiceTermsViewModel.kt
  feature/src/main/java/com/hugg/feature/component/HuggButton.kt
  feature/src/main/java/com/hugg/feature/theme/Color.kt
  feature/src/main/java/com/hugg/feature/theme/StringComponent.kt
  feature/src/main/res/drawable/ic_camera_empty_gs_80.xml
  feature/src/main/res/drawable/ic_checked_box_black.xml
  feature/src/main/res/drawable/ic_notification_empty_gs_80.xml
  feature/src/main/res/drawable/ic_right_arrow_gs_50.xml
  feature/src/main/res/drawable/ic_unchecked_box_black.xml
Labels: New Feat, Refactor

#41 [ Feat, Fix ] 가계부 메모 기능, 지출 삭제 기능 추가 및 에러 수정
  app/build.gradle.kts
  app/src/main/AndroidManifest.xml
  app/src/main/java/com/hugg/presentation/HuggApplication.kt
  app/src/main/java/com/hugg/presentation/module/ApiModule.kt
  app/src/main/java/com/hugg/presentation/module/AuthNetworkModule.kt
  app/src/main/java/com/hugg/presentation/module/AuthenticationInterceptor.kt
  app/src/main/java/com/hugg/presentation/module/Extention.kt
  app/src/main/java/com/hugg/presentation/module/NetworkModule.kt
  app/src/main/java/com/hugg/presentation/module/Qualifier.kt
  app/src/main/java/com/hugg/presentation/module/RepositoryModule.kt
  app/src/main/java/com/hugg/presentation/module/TokenAuthenticator.kt
  data/src/main/java/com/hugg/data/api/AccountApi.kt
  data/src/main/java/com/hugg/data/api/Endpoints.kt
  data/src/main/java/com/hugg/data/dto/account/AccountResponse.kt
  data/src/main/java/com/hugg/data/dto/account/AccountResponseListItem.kt
  data/src/main/java/com/hugg/data/mapper/account/AccountItemResponseMapper.kt
  data/src/main/java/com/hugg/data/repository/AccountRepositoryImpl.kt
  domain/src/main/java/com/hugg/domain/base/StatusCode.kt
  domain/src/main/java/com/hugg/domain/model/request/account/AccountEditMemoRequestVo.kt
  domain/src/main/java/com/hugg/domain/model/response/account/AccountItemResponseVo.kt
  domain/src/main/java/com/hugg/domain/model/response/account/AccountResponseVo.kt
  domain/src/main/java/com/hugg/domain/model/vo/account/AccountCardVo.kt
  domain/src/main/java/com/hugg/domain/repository/AccountRepository.kt
  feature/account/src/main/java/com/hugg/account/accountCreateOrEdit/AccountCreateOrEditEvent.kt
  feature/account/src/main/java/com/hugg/account/accountCreateOrEdit/AccountCreateOrEditScreen.kt
  feature/account/src/main/java/com/hugg/account/accountCreateOrEdit/AccountCreateOrEditViewModel.kt
  feature/account/src/main/java/com/hugg/account/accountMain/AccountPageState.kt
  feature/account/src/main/java/com/hugg/account/accountMain/AccountScreen.kt
  feature/account/src/main/java/com/hugg/account/accountMain/AccountViewModel.kt
  feature/account/src/main/java/com/hugg/account/subsidyList/SubsidyListViewModel.kt
  feature/calendar/src/main/java/com/hugg/calendar/calendarMain/CalendarScreen.kt
  feature/main/src/main/java/com/hugg/main/MainActivity.kt
  feature/main/src/main/java/com/hugg/main/NavExpansions.kt
  feature/main/src/main/java/com/hugg/main/Routes.kt
  feature/sign/src/main/java/com/hugg/sign/accessPermission/AccessPermissionScreen.kt
  feature/sign/src/main/java/com/hugg/sign/inputSsn/InputSsnScreen.kt
  feature/sign/src/main/java/com/hugg/sign/onboarding/OnboardingScreen.kt
  feature/sign/src/main/java/com/hugg/sign/serviceTerms/ServiceTermsPageState.kt
  feature/sign/src/main/java/com/hugg/sign/serviceTerms/ServiceTermsScreen.kt
  feature/sign/src/main/java/com/hugg/sign/serviceTerms/ServiceTermsViewModel.kt
  feature/src/main/java/com/hugg/feature/component/HuggButton.kt
  feature/src/main/java/com/hugg/feature/theme/Color.kt
  feature/src/main/java/com/hugg/feature/theme/StringComponent.kt
  feature/src/main/java/com/hugg/feature/uiItem/AccountCardItem.kt
  feature/src/main/java/com/hugg/feature/uiItem/SubsidyDetailBox.kt
  feature/src/main/java/com/hugg/feature/util/TimeFormatter.kt
  feature/src/main/res/drawable/ic_camera_empty_gs_80.xml
  feature/src/main/res/drawable/ic_checked_box_black.xml
  feature/src/main/res/drawable/ic_notification_empty_gs_80.xml
  feature/src/main/res/drawable/ic_right_arrow_gs_50.xml
  feature/src/main/res/drawable/ic_unchecked_box_black.xml
  feature/src/main/res/drawable/ic_write_gs_70.xml
Labels: bug, New Feat, Refactor

#50 [ Feat ] 데일리허그 전체 조회 구현
  data/src/main/java/com/hugg/data/api/DailyHuggApi.kt
  data/src/main/java/com/hugg/data/api/Endpoints.kt
  data/src/main/java/com/hugg/data/dto/dailyHugg/DailyHuggListResponse.kt
  data/src/main/java/com/hugg/data/dto/dailyHugg/DailyHuggResponse.kt
  data/src/main/java/com/hugg/data/mapper/dailyHugg/DailyHuggListResponseMapper.kt
  data/src/main/java/com/hugg/data/repository/DailyHuggRepositoryImpl.kt
  domain/src/main/java/com/hugg/domain/model/response/dailyHugg/DailyHuggItemVo.kt
  domain/src/main/java/com/hugg/domain/model/response/dailyHugg/DailyHuggListItemVo.kt
  domain/src/main/java/com/hugg/domain/model/response/dailyHugg/DailyHuggListResponseVo.kt
  domain/src/main/java/com/hugg/domain/repository/DailyHuggRepository.kt
  feature/dailyHugg/src/main/java/com/hugg/dailyhugg/all/DailyHuggListEvent.kt
  feature/dailyHugg/src/main/java/com/hugg/dailyhugg/all/DailyHuggListPageState.kt
  feature/dailyHugg/src/main/java/com/hugg/dailyhugg/all/DailyHuggListScreen.kt
  feature/dailyHugg/src/main/java/com/hugg/dailyhugg/all/DailyHuggListViewModel.kt
  feature/dailyHugg/src/main/java/com/hugg/dailyhugg/create/CreateDailyHuggScreen.kt
  feature/dailyHugg/src/main/java/com/hugg/dailyhugg/create/CreateEditDailyHuggPageState.kt
  feature/dailyHugg/src/main/java/com/hugg/dailyhugg/create/CreateEditDailyHuggViewModel.kt
  feature/dailyHugg/src/main/java/com/hugg/dailyhugg/main/DailyHuggEvent.kt
  feature/dailyHugg/src/main/java/com/hugg/dailyhugg/main/DailyHuggScreen.kt
  feature/dailyHugg/src/main/java/com/hugg/dailyhugg/main/DailyHuggViewModel.kt
  feature/main/src/main/java/com/hugg/main/NavExpansions.kt
  feature/main/src/main/java/com/hugg/main/Routes.kt
  feature/src/main/java/com/hugg/feature/theme/StringComponent.kt
  feature/src/main/java/com/hugg/feature/util/TimeFormatter.kt
Labels: New Feat, Refactor

#49 [ Feat ] 홈 나의 챌린지 기능(임시) 및 아이콘, 일부 오류 수정
  buildSrc/src/main/java/Dependencies.kt
  buildSrc/src/main/java/Versions.kt
  domain/src/main/java/com/hugg/domain/model/response/challenge/MyChallengeListItemVo.kt
  feature/account/src/main/java/com/hugg/account/accountMain/AccountScreen.kt
  feature/build.gradle.kts
  feature/calendar/src/main/java/com/hugg/calendar/scheduleCreateOrEdit/InjMedCreateOrEditScreen.kt
  feature/home/build.gradle.kts
  feature/home/src/main/java/com/hugg/home/homeMain/HomePageState.kt
  feature/home/src/main/java/com/hugg/home/homeMain/HomeScreen.kt
  feature/home/src/main/java/com/hugg/home/homeMain/HomeViewModel.kt
  feature/main/src/main/java/com/hugg/main/MainActivity.kt
  feature/sign/src/main/java/com/hugg/sign/accessPermission/AccessPermissionScreen.kt
  feature/src/main/java/com/hugg/feature/component/HuggDialog.kt
  feature/src/main/java/com/hugg/feature/theme/HuggTypography.kt
  feature/src/main/java/com/hugg/feature/theme/StringComponent.kt
  feature/src/main/java/com/hugg/feature/uiItem/HomeMyChallengeItem.kt
  feature/src/main/res/drawable/ic_calendar_active.xml
  feature/src/main/res/drawable/ic_camera_empty_gs_80.xml
  feature/src/main/res/drawable/ic_home_challenge_complete.xml
  feature/src/main/res/drawable/ic_notification_empty_gs_80.xml
  feature/src/main/res/drawable/ic_right_arrow_navigate_gs_50.xml
  feature/src/main/res/font/gmarketsans_bold.ttf
  feature/src/main/res/font/gmarketsans_light.ttf
  feature/src/main/res/font/gmarketsans_medium.ttf
  feature/src/main/res/raw/challenge_complete.json
Labels: bug, New Feat, Refactor

#48 [ Refactor ] 타이포그래피 수정
  buildSrc/src/main/java/Dependencies.kt
  buildSrc/src/main/java/Versions.kt
  domain/src/main/java/com/hugg/domain/model/response/challenge/MyChallengeListItemVo.kt
  feature/account/src/main/java/com/hugg/account/accountCreateOrEdit/AccountCreateOrEditScreen.kt
  feature/account/src/main/java/com/hugg/account/accountMain/AccountScreen.kt
  feature/account/src/main/java/com/hugg/account/accountMain/bottomSheet/AccountBottomSheet.kt
  feature/account/src/main/java/com/hugg/account/subsidyCreateOrEdit/SubsidyCreateOrEditScreen.kt
  feature/account/src/main/java/com/hugg/account/subsidyList/SubsidyListScreen.kt
  feature/build.gradle.kts
  feature/calendar/src/main/java/com/hugg/calendar/calendarMain/CalendarScreen.kt
  feature/calendar/src/main/java/com/hugg/calendar/scheduleCreateOrEdit/EtcCreateOrEditScreen.kt
  feature/calendar/src/main/java/com/hugg/calendar/scheduleCreateOrEdit/HospitalCreateOrEditScreen.kt
  feature/calendar/src/main/java/com/hugg/calendar/scheduleCreateOrEdit/InjMedCreateOrEditScreen.kt
  feature/dailyHugg/src/main/java/com/hugg/dailyhugg/all/DailyHuggListScreen.kt
  feature/dailyHugg/src/main/java/com/hugg/dailyhugg/create/CreateDailyHuggScreen.kt
  feature/dailyHugg/src/main/java/com/hugg/dailyhugg/create/complete/DailyHuggCreationSuccessScreen.kt
  feature/dailyHugg/src/main/java/com/hugg/dailyhugg/main/DailyHuggScreen.kt
  feature/home/build.gradle.kts
  feature/home/src/main/java/com/hugg/home/homeMain/HomePageState.kt
  feature/home/src/main/java/com/hugg/home/homeMain/HomeScreen.kt
  feature/home/src/main/java/com/hugg/home/homeMain/HomeViewModel.kt
  feature/main/src/main/java/com/hugg/main/MainActivity.kt
  feature/main/src/main/java/com/hugg/main/MainScreen.kt
  feature/myPage/src/main/java/com/hugg/mypage/cs/MyPageCsScreen.kt
  feature/myPage/src/main/java/com/hugg/mypage/main/MyPageScreen.kt
  feature/sign/src/main/java/com/hugg/sign/accessPermission/AccessPermissionScreen.kt
  feature/sign/src/main/java/com/hugg/sign/femaleSignUp/chooseSurgery/ChooseSurgeryScreen.kt
  feature/sign/src/main/java/com/hugg/sign/femaleSignUp/spouseCodeFemale/SpouseCodeFemaleScreen.kt
  feature/sign/src/main/java/com/hugg/sign/femaleSignUp/startSurgery/SurgeryStartScreen.kt
  feature/sign/src/main/java/com/hugg/sign/femaleSignUp/surgeryCount/SurgeryCountScreen.kt
  feature/sign/src/main/java/com/hugg/sign/inputSsn/InputSsnScreen.kt
  feature/sign/src/main/java/com/hugg/sign/maleSignUp/MaleSignUpScreen.kt
  feature/sign/src/main/java/com/hugg/sign/serviceTerms/ServiceTermsScreen.kt
  feature/src/main/java/com/hugg/feature/component/HuggButton.kt
  feature/src/main/java/com/hugg/feature/component/HuggDialog.kt
  feature/src/main/java/com/hugg/feature/component/HuggSnackBar.kt
  feature/src/main/java/com/hugg/feature/component/HuggTabBar.kt
  feature/src/main/java/com/hugg/feature/component/HuggText.kt
  feature/src/main/java/com/hugg/feature/component/Topbar.kt
  feature/src/main/java/com/hugg/feature/theme/HuggTypography.kt
  feature/src/main/java/com/hugg/feature/theme/StringComponent.kt
  feature/src/main/java/com/hugg/feature/uiItem/AccountCardItem.kt
  feature/src/main/java/com/hugg/feature/uiItem/HomeMyChallengeItem.kt
  feature/src/main/java/com/hugg/feature/uiItem/HomeTodayScheduleItem.kt
  feature/src/main/java/com/hugg/feature/uiItem/OnBoardingItem.kt
  feature/src/main/java/com/hugg/feature/uiItem/RemoteRound.kt
  feature/src/main/java/com/hugg/feature/uiItem/RemoteYearMonth.kt
  feature/src/main/java/com/hugg/feature/uiItem/ScheduleDetailItem.kt
  feature/src/main/java/com/hugg/feature/uiItem/SubsidyDetailBox.kt
  feature/src/main/java/com/hugg/feature/uiItem/SubsidyTotalBoxItem.kt
  feature/src/main/res/drawable/ic_calendar_active.xml
  feature/src/main/res/drawable/ic_camera_empty_gs_80.xml
  feature/src/main/res/drawable/ic_home_challenge_complete.xml
  feature/src/main/res/drawable/ic_notification_empty_gs_80.xml
  feature/src/main/res/drawable/ic_right_arrow_navigate_gs_50.xml
  feature/src/main/res/font/gmarketsans_bold.ttf
  feature/src/main/res/font/gmarketsans_light.ttf
  feature/src/main/res/font/gmarketsans_medium.ttf
  feature/src/main/res/raw/challenge_complete.json
Labels: bug, Refactor

#54 [ Feat ] 홈 화면 데일리 허그 기능 추가 / 각종 오류 해결
  data/src/main/java/com/hugg/data/api/ScheduleApi.kt
  data/src/main/java/com/hugg/data/repository/ScheduleRepositoryImpl.kt
  domain/src/main/java/com/hugg/domain/model/response/home/HomeRecordResponseVo.kt
  domain/src/main/java/com/hugg/domain/repository/ScheduleRepository.kt
  feature/account/src/main/java/com/hugg/account/accountCreateOrEdit/AccountCreateOrEditScreen.kt
  feature/account/src/main/java/com/hugg/account/accountMain/AccountScreen.kt
  feature/account/src/main/java/com/hugg/account/subsidyCreateOrEdit/SubsidyCreateOrEditScreen.kt
  feature/calendar/src/main/java/com/hugg/calendar/scheduleCreateOrEdit/EtcCreateOrEditScreen.kt
  feature/calendar/src/main/java/com/hugg/calendar/scheduleCreateOrEdit/HospitalCreateOrEditScreen.kt
  feature/calendar/src/main/java/com/hugg/calendar/scheduleCreateOrEdit/InjMedCreateOrEditScreen.kt
  feature/dailyHugg/src/main/java/com/hugg/dailyhugg/all/DailyHuggListScreen.kt
  feature/dailyHugg/src/main/java/com/hugg/dailyhugg/create/CreateDailyHuggScreen.kt
  feature/home/src/main/java/com/hugg/home/homeMain/HomePageState.kt
  feature/home/src/main/java/com/hugg/home/homeMain/HomeScreen.kt
  feature/home/src/main/java/com/hugg/home/homeMain/HomeViewModel.kt
  feature/main/src/main/java/com/hugg/main/NavExpansions.kt
  feature/sign/src/main/java/com/hugg/sign/inputSsn/InputSsnScreen.kt
  feature/sign/src/main/java/com/hugg/sign/maleSignUp/MaleSignUpScreen.kt
  feature/src/main/java/com/hugg/feature/component/HuggDialog.kt
  feature/src/main/java/com/hugg/feature/component/HuggTextField.kt
  feature/src/main/java/com/hugg/feature/theme/StringComponent.kt
  feature/src/main/java/com/hugg/feature/uiItem/DailyHuggListItem.kt
  feature/src/main/java/com/hugg/feature/uiItem/HomeTodayScheduleItem.kt
  feature/src/main/java/com/hugg/feature/util/TimeFormatter.kt
Labels: bug, New Feat

#56 [ Fix ] 데일리허그 버그 수정 및 데일리허그 로티 적용
  feature/dailyHugg/build.gradle.kts
  feature/dailyHugg/src/main/java/com/hugg/dailyhugg/create/CreateDailyHuggScreen.kt
  feature/dailyHugg/src/main/java/com/hugg/dailyhugg/create/complete/DailyHuggCreationSuccessScreen.kt
  feature/dailyHugg/src/main/java/com/hugg/dailyhugg/main/DailyHuggScreen.kt
  feature/dailyHugg/src/main/java/com/hugg/dailyhugg/main/DailyHuggViewModel.kt
  feature/src/main/res/drawable/ic_daily_condition_bad_selected.xml
  feature/src/main/res/drawable/ic_daily_condition_bad_unselected.xml
  feature/src/main/res/drawable/ic_daily_condition_good_selected.xml
  feature/src/main/res/drawable/ic_daily_condition_good_unselected.xml
  feature/src/main/res/drawable/ic_daily_condition_perfect_selected.xml
  feature/src/main/res/drawable/ic_daily_condition_perfect_unselected.xml
  feature/src/main/res/drawable/ic_daily_condition_soso_selected.xml
  feature/src/main/res/drawable/ic_daily_condition_soso_unselected.xml
  feature/src/main/res/drawable/ic_daily_condition_worst_selected.xml
  feature/src/main/res/drawable/ic_daily_condition_worst_unselected.xml
  feature/src/main/res/raw/daily_hugg_female.json
Labels: bug, Refactor, design
